.no-auth-title {
    margin-top : 2rem;
    margin-left : auto;
    margin-right : auto;
}

.no-auth-title h1 {
    font-size : 5rem;
}

.no-auth-choice-div {
    position : fixed;
    text-align: center;    
    height : 100%;
    width: 100%;
}

.no-auth-choice {
    border : 1px solid black;
    width : 50%;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    padding-bottom : 15vh;
}

.no-auth-choice h3 {
    font-size: 4rem;
}