body {
    background-color : rgb(241, 241, 241) !important;
}

.no-auth h1 {
    padding-top : 1rem;
    padding-bottom : 1rem;
    border-bottom : 1px solid black;
}

.no-auth {
    margin-top : 4rem;
    border : 1px solid black;
    margin-right : auto;
    margin-left : auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.no-auth-choice {
    padding-top : 1rem;
    padding-bottom : 0.5rem;
    border : 1px solid black;
    margin-bottom : 3rem;
    margin-top : 2rem;
    margin-right : auto;
    margin-left : auto;
}