body {
    min-width : 400px;
}

.file-event-download a {
    color : black !important;
}

.file-event-download a:hover {
    color : black !important;
    text-decoration: none;
}

.files-container {
    margin-top : 4rem;
    margin-left : auto;
    margin-right : auto;
}

.stocker-nav {
    background-color: rgb(219, 219, 219);
    border-bottom : 1px solid rgb(189, 189, 189);
}

.stocker-nav a {
    color : black;
}

.stocker-nav a:hover {
    text-decoration: none;
    color : black;
}

.subscribe_button, .signin_button {
    padding-right : 5%;
}

.file-name {
    overflow-wrap: break-word;
}

.file-line-start, .file-line, .file-line-end, .file-line-start-selected, .file-line-selected, .file-line-end-selected {
    padding-top : 1rem;
    padding-bottom : 1rem;
    position : relative;
}

.file-line-start, .file-line-start-selected {
    border-top : 1px solid rgb(192, 192, 192);
    border-bottom : 1px solid rgb(192, 192, 192);
}

.file-line-start-selected, .file-line-selected, .file-line-end-selected {
    background-color : rgba(187, 207, 216, 0.158);
}

.file-line, .file-line-selected {
    border-bottom : 1px solid rgb(192, 192, 192);
}

.file-line-start:hover, .file-line:hover, .file-line-end:hover {
    transition-duration: 0.7s;
    background-color : rgba(187, 207, 216, 0.158);
    transform : translate(30px);
}

.file-line-start-selected, .file-line-selected, .file-line-end-selected {
    transform : translate(30px);
}

.file-line-end, .file-line-end-selected {
    border-bottom : 1px solid rgb(192, 192, 192);
}

.file-event-rename, .file-event-remove, .file-event-download {
    cursor : pointer;
    margin-right : 15px;
}

.file-event {
    float : right;
}

.dropzone h3 {
    margin-top : 2rem;
    color : grey;
    text-align : center;
}

.dropzone div {
    padding-top : 10%;
    margin-top : 3rem;
    margin-bottom : 3rem;
    height : 80% !important;
    width : 80% !important;
    margin-right : auto;
    margin-left : auto;
}

.tooltip-rename {
    background-color : rgb(117, 177, 177) !important;
}

.tooltip-rename:after {
    border-top-color : rgb(117, 177, 177) !important;
}

.tooltip-remove {
    background-color : rgb(194, 87, 87) !important;
}

.tooltip-remove:after {
    border-top-color : rgb(194, 87, 87) !important;
}